/*----------------------
Common CSS
--------------------------*/
* {
    font-family: 'Work Sans', sans-serif;
    color: var(--Dark-03, #727272);
}

.btn-primary {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 18px 25px;
    border: none;
}


/*---------------------
Banner
-----------------------------*/
.banner-container {
    width: auto;
    height: 1205px;
}

/* Banner Header  */

.nav-title {
    color: var(--Dark-01, #131313);
    font-size: 40px;
    font-weight: 700;
}

nav {

    display: flex;
    justify-content: space-between;
    margin: 0px 150px;

    width: auto;
    align-items: center;
}

nav li {
    list-style: none;
}

nav ul {
    display: flex;
    gap: 70px;
}

/* Banner Title  */

.banner-title {
    width: 862px;
    height: 225px;
    margin: 0 auto;
}

.title {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    padding: 0 50px;
    margin-bottom: 20px;
}

.description {
    width: 868px;
    height: 55px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

.banner-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* Banner Image  */
.banner-image {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.image {
    width: 1200px;
    height: 640px;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 0px -94.291px / 100% 137.109% no-repeat;


}

/*-----------------------
Our Features Banner
-------------------------------*/
.features-banner {
    display: flex;
    justify-content: center;
    margin-top: 55px;

}

.features-banner img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray -147.882px 0px / 150.038% 100% no-repeat;
}

/* Our Features Banner Left  */
.features-banner-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* Our Features Banner Right  */
.features-banner-right {
    position: relative;
    left: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.features-banner-right-title {
    font-size: 40px;
    font-weight: 500;
    width: 460px;
    height: 100px;
    margin-bottom: -5px;
}

.of-our {
    color: var(--Dark-01, #131313);
    font-size: 40px;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-size: 40px;
    font-weight: 700;
}

.features-banner-right-description {
    width: 535px;
    height: 92px;
    margin-bottom: 65px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/*-------------------------
Features love & enjoy
--------------------------------*/
.love-and-enjoy-container {
    position: relative;
    display: flex;
    margin-top: 75px;
    justify-content: center;
    gap: 50px;
}

/* Features love & enjoy Banner Left  */
.love-and-enjoy-banner-left {}

.features-love-title {
    position: relative;
    color: var(--Dark-01, #131313);
    font-size: 40px;
    font-weight: 700;
    width: 460px;
    height: 95px;
    margin-left: 20px;
}

.title-line {
    position: relative;
    width: 5px;
    height: 95px;
    background: #FF900E;
    float: left;
    top: 33px;
}

.love-title-description {
    width: 586px;
    height: 98px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.subtitle-and-description {
    width: 550px;
    height: 150px;
    padding-left: 15px;
    padding-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features-love-sub-title {
    width: 251px;
    height: 23px;
    color: var(--Dark-01, #131313);
    font-size: 20px;
    font-weight: 600;
}

.love-sub-title-description {
    width: 514px;
    height: 78px;
}

/* Features love & enjoy Banner Right  */
.enjoy-banner-right-img {
    width: 600px;
    height: 970px;
}

/*--------------------------
Big button
-------------------------------*/
.big-btn {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -95px;
    left: 45px;
}

.enjoy-banner-right-btn {
    position: relative;
    width: 260px;
    height: 150px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding: 25px 35px;
}

.experience {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
}

/*---------------------------
Some Facts
--------------------------------*/
.some-facts {
    margin-left: 145px;
}

.some-facts-title {
    width: 258px;
    height: 53px;
    color: var(--Dark-01, #131313);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
}

.some-facts-description {
    width: 542px;
    height: 122px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* Some Facts Blogs  */
.some-facts-blogs {
    display: flex;
    gap: 75px;
    margin-top: 75px;
}

.blogs {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 170px;
    height: 170px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 30px 30px;
}

.blogs-img {
    display: flex;
    justify-content: center;
    width: 45px;
    height: 40px;
    margin-top: 20px;
}

.blogs-numbers {
    position: relative;
    width: 120px;
    height: 40px;
    color: var(--Dark-02, #424242);
    font-size: 30px;
    font-weight: 600;
    margin-top: 25px;
    text-align: center;
}

.blogs-title {
    width: 150px;
    height: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-top: -30px;
    text-align: center;
}

/*---------------------------
Our Sponsors
--------------------------------*/
.our-sponsors {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sponsors-title {
    width: 280px;
    height: 50px;
    color: var(--Dark-01, #131313);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.sponsors-description {
    width: 530px;
    height: 75px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 45px;
}

.sponsors-icons {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 82px;

}

.sponsors {
    width: 150px;
    height: 50px;

}

.sponsors-img {
    width: 140px;
    height: 40px;


}

/*---------------------------
Footer
---------------------------------*/
.footer {
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 90px;
    border-radius: 8px;
    background: #FFF4E7;
    margin-left: 147px;
    align-items: center;
    margin-top: 100px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.13);


}

.footer-description {
    font-size: 20px;
    font-weight: 400;
}

/*------------------------------
Responsive Section
------------------------------------*/
/*  Mobile Devices  */
@media only screen and (max-width:688px) {
    .banner-container {
        width: 687px;
    }

    .banner-header {
        display: flex;
        justify-content: center;
    }

    nav,
    .nav-title {
        display: flex;
        margin: 0px 0px;
        align-items: center;
        flex-direction: column;
    }

    nav ul {
        gap: 45px;
    }


    .description {
        width: 687px;


    }

    .banner-title {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        width: auto;

    }

    .btn-primary {
        margin-top: 25px;
    }

    .banner-image {
        display: flex;
        flex-direction: column;

    }

    .banner-btn {
        margin-left: 200px;
        display: flex;
        flex-direction: column;
        margin-top: 120px;

    }

    .image,
    .enjoy-banner-right-img {
        width: 687px;
        height: 700px;
    }

    .features-banner {
        position: relative;
        left: 155px;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }

    .features-banner-right {
        margin-block-end: 50px;
        margin-top: 25px;
        left: auto;
        align-items: center;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .features-banner-right-title,
    .features-banner-right-description {
        text-align: center;
    }

    .features-banner-right-title {
        margin-bottom: auto;

    }

    .features-banner-left {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
    }

    .love-and-enjoy-container,
    .some-facts,
    .some-facts-blogs {
        display: flex;
        flex-direction: column;
    }

    .love-title-description,
    .love-sub-title-description,
    .features-love-title {
        text-align: center;
    }

    .love-and-enjoy-banner-left {
        margin-left: 35px;
    }

    .features-love-sub-title {
        text-align: center;
        width: auto;
    }

    .big-btn {
        margin-top: 35px;
        float: right;
    }

    .our-sponsors,
    .sponsors-icons {
        text-align: center;
        display: grid;
        justify-items: center;
    }

    .sponsors-description {
        margin-left: 20px;
    }

    .footer {
        margin-left: auto;
        width: 687px;
    }

    .features-banner img {
        width: auto;
        height: auto;
    }

}

/*-----------------------------
Responsive Section
------------------------------------*/
/* Tablet Devices  */
@media only screen and (min-width:689px) and (max-width:991px) {
    .banner-container {
        width: 100%;
    }

    .banner-image {
        margin-left: 80px;
        margin-top: 25px;
    }

    .image {
        width: 100%;
    }

    .btn-primary {
        margin-bottom: 25px;
    }

    .features-banner {
        display: flex;
        flex-direction: column-reverse;
    }

    .features-banner-right {
        left: 75px;
        display: flex;
        align-items: center;
    }

    .features-banner-left {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .love-and-enjoy-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .some-facts-blogs {
        display: flex;
        flex-wrap: wrap;
    }

    .sponsors-icons {
        width: 100%;
        gap: 30px;
        display: flex;
        left: 40px;
    }

    .footer {
        position: relative;
        left: 40px;
        width: auto;
        margin-left: auto;
    }
}